Unreal Engine
/NWheelVehicle 5.4/Saved
/NWheelVehicle 5.4/Intermediate
Binaries/
DerivedDataCache/
Intermediate/

Rider files
.idea/

Visual Studio files
.vs/
*.suo
.vcxproj
*.vsconfig
.vscode/

Compiled binaries
*.dll
*.pdb
*.exe

Ignore build files
*.sln
.VC.db
.VC.opendb

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/.code-snippets

Local History for Visual Studio Code
.history/

Built Visual Studio Code Extensions
*.vsix